<!DOCTYPE html>
<html>
<head>
    @using System.Web.Optimization
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ほわほわはうす</title>

    @{
        var darkmodeModel = new BaumRoll40.Models.DarkmodeModel();
        bool isDark = darkmodeModel.IsDarkmode(User.Identity.Name);

        if (isDark)
        {
            @Styles.Render("~/Content/css_dark")
        }
        else
        {
            @Styles.Render("~/Content/css")
        }
    }

    <link href="~/Content/bootstrapValidator.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet"> <!-- めんどくさいからCDNで -->
    <link rel="manifest" href="/manifest.json">
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body style="padding-top:4.5rem;">
    <!-- なびげーしょんばー -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="#">ひろば</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="collapse navbar-collapse" id="Navber">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ml-2">
                        <span class="navbar-text text-muted" id="loginUser">ログインユーザー：&nbsp;&nbsp; <span class="sr-only">(現位置)</span></span>
                    </li>
                    <li class="nav-item ml-2 active">
                        @Html.ActionLink("Home", "Index", "Home", new { id = 1 }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item ml-2">
                        @Html.ActionLink("Info", "Index", new { Controller = "Info" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item ml-2">
                        @Html.ActionLink("ログ", "Index", new { Controller = "ShowLog" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item ml-2">
                        @Html.ActionLink("お問い合わせ", "SendClaim", new { Controller = "Claim" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item ml-2">
                        @Html.ActionLink("おまけ", "Index", new { Controller = "Blogs" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item dropdown ml-2">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            設定変更
                        </a>
                        <div class="dropdown-menu bg-primary border-0" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("アイコン変更", "ChangeIcon", new { Controller = "User" }, new { @class = "dropdown-item text-light small" })
                            @Html.ActionLink("パスワード変更", "Index", new { Controller = "User" }, new { @class = "dropdown-item text-light small" })
                            @if (isDark)
                            {
                                @Html.ActionLink("おはよう", "ChangeMode", new { Controller = "User" }, new { @class = "dropdown-item text-light small" })
                            }
                            else
                            {
                                @Html.ActionLink("おやすみ", "ChangeMode", new { Controller = "User" }, new { @class = "dropdown-item text-light small" })
                            }
                        </div>
                    </li>
                    <li class="nav-item ml-2" id="signout">
                        @Html.ActionLink("ログアウト", "SignOut", new { Controller = "Login" }, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        }
    </nav>

    <br />
    <section id="result" class="ml-3">
        @if (!string.IsNullOrEmpty(ViewBag.ResultMsg))
        {
            <p class="text-success">@Html.Raw(@ViewBag.ResultMsg.Replace("\n", "<br/>"))</p>
        }
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
        {
            <p class="text-danger" id="ViewBag_ErrorMsg">@Html.Raw(@ViewBag.ErrorMsg.Replace("\n", "<br/>"))</p>
        }
    </section>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>*@
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/bootstrapValidator.js"></script>
    @RenderSection("css", required: false)
    @RenderSection("scripts", required: false)

    <!-- 以下の2行を追加 -->
    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="~/signalR/hubs"></script>
    <script>
        $(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Content("~/User/GetUserName")',
                data: {},
                dataType: 'text'
            })
            .done(function (data) {
                $('#loginUser').append(data);
            })
            .fail(function () {
                //どうしましょう
            })

        })
    </script>
</body>
</html>
